h1, h2 {
    font-family: 'Karla', "Open Sans", sans-serif;
}
p, span {
    font-family: "Montserrat", sans-serif;
}
body {
    margin:0;
    background-color: #222;
}

input {
    display: none;
    visibility: hidden;
}
.toggle-label {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 2em;
    text-align: center;
    color: #eee;
}
.toggle-label:hover {
    color: #fff;
}
.toggle-label::before {
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    content: "+";
    vertical-align: text-top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: radial-gradient(ellipse at center, #555 50%, transparent 50%);
}
.toggle-box {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}
.toggle:checked ~ .toggle-box {
    height: 250px;
}
.toggle:checked ~ .toggle-label::before {
    content: "-";
}
.contents-header {
}
.contents-container {
    vertical-align: middle;
}
.content {
    text-align:left;
}
.fa {
    font-size: 3em;
}
.project-wrapper {
    width: 100%;
    text-align:center;
}
.contents {
    width: 75vw;
    text-align:left;
    margin:auto;
}
.statement {
    text-align: center;
    color:#DDD;
    font-size: 0.7em;
}
.intro {
    padding:0.5em;
    text-align: center;
}
.mugshot {
    vertical-align:middle;
    height:120px;
}
.intro-title {
    vertical-align:middle;
    display:inline-block;
}
.spacer {
    height:350px;
}
.text-container {
  color: #eee;
  background-color:#222;
}
.layer {
    background-size: 100% 100%;
    width:100vw;
    height:640px;
}
.layer-0 {
  background-image: url("/assets/images/nightfgm.png");
}
.layer-1 {
  background-image: url("/assets/images/nightbgm.jpg");
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax__group {
    position: relative;
    height: 450px;
    transform-style: preserve-3d;
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    transform: translateZ(-0.2px);
}
.parallax__layer--back {
    transform: translateZ(-1px) translateY(-90px) scale(2.02);
}
.fade {
    height: 200px;
    background: -webkit-linear-gradient(rgba(255,0,0,0), #222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,0,0,0), #222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,0,0,0), #222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,0,0,0), #222); /* Standard syntax (must be last) */
}
@media (min-width:700px) {
  .layer-0 {
    background-image: url("/assets/images/nightfg2.png");
  }
  .layer-1 {
    background-image: url("/assets/images/nightbg2.jpg");
  }
  .statement {
    font-size: 1em;
  }
}
